@model ContactCreateDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-action="CreateContact" asp-controller="Contact">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="footerDescription">İletişim Açıklama Giriniz</label>
                                <input asp-for="FooterDescription" type="text" class="form-control" id="footerDescription">
                            </div>
                            <div class="form-group">
                                <label for="mail">Mail Giriniz</label>
                                <input asp-for="Mail" type="text" class="form-control" id="mail">
                            </div>
                            <div class="form-group">
                                <label for="Location">Lokasyon Giriniz</label>
                                <input asp-for="Location" type="text" class="form-control" id="Location">
                            </div>
                            <div class="form-group">
                                <label for="Phone">Telefon Giriniz</label>
                                <input asp-for="Phone" type="text" class="form-control" id="Phone">
                            </div>
                            <div class="card-action">
                                <button class="btn btn-primary">İletişim Ekle</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

