@model List<SocialMediaListDto>
<div class="footer_social">
    @foreach (var item in Model)
    {
        <a href="">
            <i class="@item.Icon" aria-hidden="true"></i>
        </a>
    }

   
</div>