<footer class="footer_section">
    <div class="container">
        <div class="row">
        @await Component.InvokeAsync("FooterHelperContact") 
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                       UA
                    </a>
                    <p>
                        aliteli malzemelerin ustalıkla buluştuğu restoranımız, lezzet arayışınıza son veriyor. Şeflerimizin özenle hazırladığı özgün tarifler, damakta bıraktığı izlenimle unutulmaz bir lezzet yolculuğu vaat ediyor.
                    </p>
                  @await Component.InvokeAsync("FooterHelperSocialMedia") 
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                   Açılış Saati
                </h4>
                <p>
                    Hergün
                </p>
                <p>
                    10.00 - 22.00 
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır.
                <a href="https://html.design/">En İyi Restoran</a><br><br>
                &copy; <span id="displayYear"></span> Geliştirici
                <a href="https://themewagon.com/" target="_blank">UA</a>
            </p>
        </div>
    </div>
</footer>