<!DOCTYPE html>
<html>
@await Component.InvokeAsync("LayoutHeader")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("LayoutNavbar")
        @await Component.InvokeAsync("LayoutSidebar")
        <div class="main-panel mt-5">
            @RenderBody()
            @await Component.InvokeAsync("LayoutFooter")
        </div>
    </div>
    @await Component.InvokeAsync("LayoutScript")

    
</body>

</html>
